<div id="div_head">
    <div id="div_img"></div>
    <div id="div_btn_head">
        
            <button  id="myshifts" routerLink='/myShifts' mat-raised-button id="btn_log" color="primary">My Shifts</button>
            <button   id="addshifts" routerLink='/addShift' mat-raised-button id="btn_log" color="primary">Add Shift</button>
            <button   id="edit_p" routerLink='/edit' mat-raised-button id="btn_log" color="primary">Edit profile</button>
        
    </div>
    <p id="user_p">Hello, <span>{{logUser['user']['username']}}</span></p>
    <button class ="btn" id="logout" (click)="logout()" mat-raised-button color="primary">Logout</button>
</div>
