@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    
}


#large{
    padding-top: 15%;
    background-image:linear-gradient(to bottom, rgba(188, 228, 245, 0.267), rgb(123, 171, 248)),url('../../../assets/images/back2.png');
    /* background-image: url('../../../assets/images/back2.png'); */
    background-repeat:no-repeat;
    background-clip: border-box;
    background-size:auto ;
    height:100%;
}

#cont_input{
    margin: auto;
    background-color: rgb(217, 243, 248);
    width:fit-content;
    border: 2px solid blue;
    padding: 2%;
    box-shadow: 2px 2px 3px 3px #737373;
    text-align: center;
    border-radius: 5%;
}

#btn_log{
    margin:auto;
}
