/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image:linear-gradient(to bottom, rgba(188, 228, 245, 0.267), rgb(123, 171, 248)),url('./assets/images/back2.png');
}

.error.mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background: red ;
    color: white;
}

.success.mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background: #00cc00;
    color: white;
}

.warning.mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background: blue ;
    color: white;
}