<div id="large">
<div *ngIf="hasWPS" id="table" class="mat-elevation-z3">
    <h2>This week shifts:</h2>
    <div width="100%" id="form">
        <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
            <mat-cell *matCellDef="let shift">{{shift.date | date: "dd/MM/yyyy"}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="startTime">
            <mat-header-cell *matHeaderCellDef>Start time</mat-header-cell>
            <mat-cell *matCellDef="let shift">{{shift.startTime}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="endTime">
            <mat-header-cell *matHeaderCellDef>End time</mat-header-cell>
            <mat-cell *matCellDef="let shift">{{shift.endTime}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="wage">
            <mat-header-cell *matHeaderCellDef>Wage</mat-header-cell>
            <mat-cell *matCellDef="let shift">{{shift.wage | number:"1.0-2"}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="place">
            <mat-header-cell *matHeaderCellDef>Place</mat-header-cell>
            <mat-cell *matCellDef="let shift">{{shift.place}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="profit">
            <mat-header-cell *matHeaderCellDef>Profit</mat-header-cell>
            <mat-cell *matCellDef="let shift">{{shift.profit | number:"1.0-2"}}</mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       </table>
       
    </div>
    
</div>
<div *ngIf="hasWPS" id="mostProf">
    The month with highest earnings is: <span>{{mostProfMonth}}</span>
</div>
<!-- <div id="div_footer">
    <p>Restaurant logo by NOVILAMISASTRA from <a href="https://thenounproject.com/browse/icons/term/restaurant-logo/" target="_blank" title="Restaurant logo Icons">Noun Project</a></p>
</div> -->
</div>

